{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block page_content %}
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        {% if post.image %}
        <img src="{{ post.imgsrc }}" class="img-rounded" height="100px" />
        {% endif %}
        <h3>{{ post.title }}</h3>
        {% if session['is_author'] %}
            <a href="{{ url_for('edit', post_id=post.id) }}">Edit</a> -
            <a href="{{ url_for('delete', post_id=post.id) }}">Delete</a>
        {% endif %}
        {{ post.body|markdown }}
        <hr />
        <div class="text-muted">
            Posted by <a href="#">{{ post.author.fullname }}</a>
            on {{ post.publish_date.strftime('%Y-%m-%d') }}
            in <a href="#">{{ post.category.name }}</a>
        </div>
    </div>
</div>
{% endblock %}